parameters:
	ignoreErrors:
		-
			message: "#^Cannot access offset 'authorship' on mixed\\.$#"
			count: 1
			path: inc/class-insert-post-handler.php

		-
			message: "#^Parameter \\#1 \\$var of function intval expects array\\|bool\\|float\\|int\\|resource\\|string\\|null, mixed given\\.$#"
			count: 1
			path: inc/cli/class-migrate-command.php

		-
			message: "#^Property WP_Object_Cache\\:\\:\\$cache \\(array\\) in isset\\(\\) is not nullable\\.$#"
			count: 1
			path: inc/cli/class-migrate-command.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 2
			path: inc/cli/class-migrate-command.php

		-
			message: "#^Cannot access an offset on mixed\\.$#"
			count: 1
			path: inc/namespace.php

		-
			message: "#^Function Authorship\\\\filter_rest_response_link_curies\\(\\) has parameter \\$additional with no value type specified in iterable type array\\.$#"
			count: 1
			path: inc/namespace.php

		-
			message: "#^Function Authorship\\\\filter_rest_response_link_curies\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: inc/namespace.php

		-
			message: "#^Parameter \\#1 \\$callback of function array_map expects \\(callable\\(mixed\\)\\: mixed\\)\\|null, 'intval' given\\.$#"
			count: 2
			path: inc/namespace.php

		-
			message: "#^Parameter \\#1 \\$key of function array_key_exists expects int\\|string, mixed given\\.$#"
			count: 2
			path: inc/namespace.php

		-
			message: "#^Parameter \\#1 \\$list of function wp_parse_id_list expects array\\|string, mixed given\\.$#"
			count: 1
			path: inc/namespace.php

		-
			message: "#^Parameter \\#1 \\$post of function get_post expects int\\|WP_Post\\|null, mixed given\\.$#"
			count: 1
			path: inc/namespace.php

		-
			message: "#^Parameter \\#1 \\$post_type of function get_post_type_object expects string, mixed given\\.$#"
			count: 1
			path: inc/namespace.php

		-
			message: "#^Parameter \\#1 \\$user_id of function get_userdata expects int, mixed given\\.$#"
			count: 1
			path: inc/namespace.php

		-
			message: "#^Parameter \\#2 \\$array of function array_map expects array, mixed given\\.$#"
			count: 2
			path: inc/namespace.php

		-
			message: "#^Parameter \\#2 \\$value of function get_user_by expects int\\|string, mixed given\\.$#"
			count: 1
			path: inc/namespace.php
