includes:
  - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
  level: max
  paths:
    - plugin.php
    - inc/
  scanFiles:
    - lib/asset-loader/inc/namespace.php
    - tests/phpunit/includes/testcase.php
    - tests/phpunit/includes/email-testcase.php
    - tests/phpunit/includes/feed-testcase.php
    - tests/phpunit/includes/restapi-testcase.php
  scanDirectories:
    - vendor/wp-phpunit/wp-phpunit/includes/
