includes:
  - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
  level: max
  paths:
    - plugin.php
    - inc
    - tests/phpunit
  scanDirectories:
    - vendor/wp-phpunit/wp-phpunit/includes
