<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/7.0/phpunit.xsd"
	backupGlobals="false"
	beStrictAboutOutputDuringTests="true"
	beStrictAboutTestsThatDoNotTestAnything="true"
	bootstrap="tests/phpunit/includes/bootstrap.php"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
>
	<php>
		<env name="WP_PHPUNIT__TESTS_CONFIG" value="tests/wp-tests-config.php" />
	</php>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">inc</directory>
		</whitelist>
	</filter>
	<testsuites>
		<testsuite name="main">
			<directory prefix="test-" suffix=".php">./tests/phpunit/</directory>
		</testsuite>
	</testsuites>
</phpunit>
