.authorship-select-container {
	width: 100%;

	.authorship-select {
		&__control {
			&,
			&:hover {
				border: none;
			}

			&--is-focused {
				&,
				&:hover {
					box-shadow: none;
				}
			}
		}

		&__value-container {
			padding: 0;
		}

		&__multi-value {
			width: 100%;
			background: #f1f1f1;
			border-radius: 2px;
			margin: 2px 0 4px;
			cursor: move;

			&__label {
				font-size: 14px;
				flex-grow: 1;
				white-space: initial;
				color: #1e1e1e;
				padding: 6px;
				display: flex;
				align-items: center;
			}

			&__avatar {
				flex: 0 0 24px;
				margin-right: 5px;

				img {
					display: block;
					height: 24px;
					width: 24px;
				}
			}

			&__remove {
				cursor: pointer;
			}
		}

		&__indicators,
		&__indicator-separator {
			display: none;
		}

		&__input {
			width: 100%;

			input[type="text"] {
				/* stylelint-disable-next-line declaration-no-important -- Need to override inline style */
				background: #fff !important;
				/* stylelint-disable-next-line declaration-no-important -- Need to override inline style */
				border: 1px solid #757575 !important;
				/* stylelint-disable-next-line declaration-no-important -- Need to override inline style */
				border-radius: 2px !important;
				/* stylelint-disable-next-line declaration-no-important -- Need to override inline style */
				box-sizing: border-box !important;
				margin: 0;
				/* stylelint-disable-next-line declaration-no-important -- Need to override inline style */
				padding: 6px 8px !important;
				line-height: normal;
				/* stylelint-disable-next-line declaration-no-important -- Need to override inline style */
				width: 100% !important;
			}

			input[type="text"]:focus {
				/* stylelint-disable-next-line declaration-no-important -- Need to override inline style */
				border: 1px solid var( --wp-admin-theme-color, #0073aa ) !important;
				/* stylelint-disable-next-line declaration-no-important -- Need to override inline style */
				box-shadow: 0 0 0 0.5px var( --wp-admin-theme-color, #0073aa ) !important;
				/* stylelint-disable-next-line declaration-no-important -- Need to override inline style */
				outline: 2px solid transparent !important;
			}
		}
	}

	&.authorship-select--is-disabled {
		.authorship-select {
			&__multi-value {
				&__remove {
					display: none;
				}
			}

			&__input {
				/* stylelint-disable-next-line declaration-no-important -- Need to override inline style */
				display: none !important;
			}

			&__control {
				background: transparent;
			}
		}
	}
}
