.authorship-select-container {
	width: 100%;

	.authorship-select {
		&__control {
			&,
			&:hover {
				border-color: #7e8993;
				border-radius: 3px;
			}
		}

		&__value-container {
			padding: 1px;
		}

		&__multi-value {
			width: 100%;
			background: #f6f6f6;

			&__label {
				font-size: 14px;
				flex-grow: 1;
				white-space: initial;
				color: #016087;
			}
		}

		&__indicator-separator {
			display: none;
		}

		&__indicator {
			color: #666;
			padding: 2px;
		}
	}
}
