.authorship-select-container {
	width: 100%;

	.authorship-select {
		&__control {
			&,
			&:hover {
				border-color: #757575;
				border-radius: 2px;
			}

			&--is-focused,
			&--is-focused:hover {
				border-color: #007cba;
				box-shadow: 0 0 0 1px #007cba;
			}
		}

		&__value-container {
			padding: 1px;
		}

		&__multi-value {
			width: 100%;
			background: #f6f6f6;

			&__label {
				font-size: 14px;
				flex-grow: 1;
				white-space: initial;
				color: #016087;
			}
		}

		&__indicator-separator {
			display: none;
		}

		&__indicator {
			color: #666;
			padding: 2px;
		}

		&__input input[type="text"]:focus {
			box-shadow: none;
		}
	}
}
